:root{
  --font-color-header: #f0f0f0;
  --header-color: #023e8a;
}

/* Styling for different heading levels */
h1{
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  font-size: 2rem;
}

h2{
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  font-size: 1.5rem;
}

h3{
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  font-size: 1.25rem;
  padding:0;
  margin:0;
}

h4{
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  padding: 0;
  margin: 0;
}

/* Styling for links */
a {
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  text-decoration: none;
}

/* Styling for list items and unordered lists */
li {
  font-family: Open-sans, sans-serif;
  color: var(--font-color);
  list-style: none;
}

ul {
  font-family: Open-sans, sans-serif;
  padding: 0;
  margin: 0;
}

/* Styling for the body of the page */
body div{
  padding: 10;
  margin: 0;
}

/* Styling for the navigation bar */
nav {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #023e8a  ;
  padding: 10px 20px 10px 20px;
}


/* Styling for the logo */
.logo {
  display: flex;
  font-size: 1.5rem;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

}

/* Styling for the logo link */
.logo a{
  font-size: 1rem;
}

/* Styling for the search bar in the navigation */
.nav-search {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  border-top-width: 0;
}

/* Styling for the navigation links */
.nav-links{
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: left;
  align-items: center;
  list-style: none;
  text-decoration: none;
  padding-left: 10px;
  gap: 20px;
}

/* Styling for sectuion under header */
.title-container{
  background-image: url("images/Designer.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35vh;
  padding-left: 100px;
  margin-left: -10px; 
}
/* Styling for the main section of the page */
.main{
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

/* Styling for the main body of the home page */
.home-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  padding-left: 20px;
}

/* Styling for the main heading */
.main h1{
  margin: 0;
  justify-content: center;
  align-items: center;
}

/* Styling for the search box in the main section */
.main-search-box {
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: center;
  width: 80%;
  height: 30px;
}

/* Styling for the search button in the main section */
.main-search-button{
  display: flex;
  flex: 1;
  margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
}

/* Styling for searchbar */
#search-input{
  justify-content: center;
  width: 50%;
  height: 35px;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: none;
  padding: 0;
}

/* Styling for search button */
#search-button{
  justify-content: center;
  width: 10%;
  height: 35px;
  border-radius: 0 5px 5px 0 ;
  box-shadow: none;
  border: none;
  background-color: var(--header-color);
  color: white;
}

/* Styling for the main search section */
.main-search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Styling for the sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 10px 10px 10px;
  border: solid 1px #333;
  height: 50%;
  align-self: start;
  margin-top: 100px;

}

/* Styling for the dataset section */
.dataset-section {
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
}

/* Styling for the dataset filter */
.dataset-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Styling for the filters */
.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 20px;
}

/* Styling for the creation header */
.creation-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  width: 93%;
}

/* Styling for the creation buttons */
.creation-buttons{
  align-self: center;
}

/* Styling for the creation attributes */
.creation-attributes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 25px;
  margin-bottom: 20px;
}

/* Styling for the creation properties */
.creation-properties {
  display: flex;
  flex-direction: column;
  border: solid 1px #333;
  width: 90%;
  padding: 10px;
}

/* Styling for the creation information */
.creation-information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 90%;
  gap: 10px;
  padding: 0 10px 0 10px;
}

#creation-description{
  height: 100px;
}

/* Styling for the creation fields */
.creation-fields{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border: solid 1px #333;
  width: 90%;
  gap: 10px;
  padding: 10px;
}

/* Styling for the creation fields heading */
.creation-fields h1{
  align-items: left;
}

/* Styling for the add fields section in the creation section */
.creation-add-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 90%;
  margin-bottom: 100px;
  padding: 0 0 0 10px;
}

/* Styling for each dataset item */
.dataset-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: solid 1px #333;
  margin: 10px 0 10px 0;
}

.additional-information{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 90%;
  gap: 10px;
  padding: 0 10px 0 10px;
}

/* Styling for the contact form */
.contact-form form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 50%;
  gap: 10px;
  padding: 0 10px 0 10px;
}

/* Styling for the new-field input */
.additional-information div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.additional-information div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}